<div class="center">
  <h1>The Great Charleston race</h1>

  <h2>
    This is the welcome page for the Great Charleston Race!
  </h2>

  
</div>
<br/>
<br/>
<br/>

<%= image_tag('raceman.png', alt: "Race logo", width: "150")%>