<div class="center">
  <h1>The Great Charlston Race</h1>

  <h2>
    This is the welcome page for the Great Charleston Race!
  </h2>

  <%= link_to "Race Signup!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<br/>
<br/>
<br/>

<%= image_tag('raceman.png', alt: "Race logo", width: "150")%>