<% provide(:title, "Information") %>
<h1>Information</h1>

<p>
  The race will be held at 11:00 AM at 
  <a href="https://www.charlestonsouthern.edu/">Charleston Southern University</a>
  on the 24th of June.
  <br/>
  This race will be a 5K race (which is two laps) and every participant will recvive a medal. Drinks 
  snacks will be provided throughout the race. Below you will see a picture of 
  the racing path and a picture of both the front and back of this year T-Shirt.
  <br/>
  <%= image_tag('map.png', alt: "map", width: "500")%>
  <br/>
  
  Front
  <%= image_tag('shirt front.png', alt: "Shirt Front", width: "300")%>
  <br/>
  
  Back
  <%= image_tag('shirt back.png', alt: "Shirt Back", width: "300")%>
  <br/>
</p>