<% provide(:title, "Racer Information") %>
<h1>Information</h1>

<p>
  
  <br/>
  Hello Racers! Thank you for signing up for The Great Charleston Race! Bellow you will find
  the schedule and map for race day! The race will be held at 11:00 AM at 
  <a href="https://www.charlestonsouthern.edu/">Charleston Southern University</a>
  on the 24th of June.
  <br/>
  6AM : Sign in and Tshirt pick up </br>
  8AM : Race Group 1 Start </br>
  8:15AM: Race Group 2 Start </br>
  11AM: Celebration And Awards </br>
  12PM: Clean Up </br>
  
  <bold><h2>Race Map</h2></bold>
  
  </br>
  <%= image_tag('map.png', alt: "map", width: "500")%>
</p>