<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The Great Charleston Race was started back in 2010 as a way to get more 
  people active in the Charleston area. Due to the great results and turnout
  we have decided to make it an annual event! So signup today and bring 
  your family to this years Great Charleston Race! See you there!
</p>