<div class="center">
  <h1>The Great Charleston Race</h1>

  <h2>
    This is the welcome page for the Great Charleston Race!
  </h2>
  
  <p>
    It's once again time for the annual Great Charleston Race! This year the race is hosted by the Engineers With Borders organization! This organization helps jobless engineers get out of their home to go and find a job. For each runner 
    that signs up for the race, the organization will donate a Raspberry PI to use to lure the homestuck engineers out of their house for the first time in months. Please, they need the sunlight and social interaction
    whether they want it or not.
  </p>

  <%= link_to "Race Signup!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<br/>
<br/>
<br/>

<%= image_tag('raceman.png', alt: "Race logo", width: "150")%>