<% provide(:title, "Information") %>
<h1>Information</h1>
<p>
  The race will be held at 11:00 AM at 
  <a href="https://www.charlestonsouthern.edu/">Charleston Southern University</a>
  on the 24th of June (made this up btw).
</p>